langchain
langchain-groq
chromadb
groq
beautifulsoup4
requests
streamlit
pydantic-settings
pytest
black
ruff
mypy
pre-commit
sentence-transformers
langchain-huggingface
tenacity
langchain-text-splitters
langchain-chroma
schedule
